div.EpisodeListItem {
  display: flex;
  flex-direction: row;
}

div.EpisodeListItem > div.episode {
  flex-grow: 1;
}

div.EpisodeListItem > button.download  {
  flex-grow: 0;
  min-width: 7.5em;
}


