.PodcastChannelRegister {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: hidden;
}

.PodcastChannelRegister div {
  margin-left: 1em;
  margin-right: 1em;
}

.PodcastChannelRegister div.episode-list {
  display: flex;
  flex-direction: column;
  margin-right: 0px;
}

.episode-list {
  flex: 1;
  overflow-y: hidden;
}

.PodcastChannelRegister ol {
  flex: 1;
  text-align: left;
  overflow-y: auto;
}

